.res-promotion {
  display: flex;
  border-bottom-right-radius: 15px;
  font-size: 0.813rem;
  color: white;
  width: 3.125rem;
  height: 2.063rem;
  text-align: center;
}

.res-promotion div {
  margin: auto;
}
