.search-box {
  padding: 0.5rem 1.5rem 0.5rem 2.5rem;
  border-radius: 10px;
  width: 21rem;
  font-size: 0.875rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.search-wrapper {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 30em) /* 480px */ {
  .search-box {
    width: 100%;
  }
}
